:root {
  --background-color: #101524;
  --main-color: #f9cf87;
  --important-color: #a40239;
}

/* Regular */
@font-face {
  font-family: "Berylium";
  src: url("../fonts/berylium/Berylium\ Rg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Regular Italic */
@font-face {
  font-family: "Berylium";
  src: url("../fonts/berylium/Berylium\ Rg\ It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Berylium";
  src: url("../fonts/berylium/Berylium\ Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "Berylium";
  src: url("../fonts/berylium/Berylium\ Bd\ It.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Berylium", sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
  margin: 0;
}

.header {
  background-color: rgba(0, 0, 0, 0.2);
}

.header > .inner {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.header a {
  text-align: center;
  margin: 15px 0px;
  padding: 20px 0px;
  width: 20%;
  background-color: var(--important-color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Pixelify sans";
  border-radius: 10px;
}

h1 {
  font-family: "Berylium", sans-serif;
  color: var(--important-color);
}

.inner {
  margin: auto;
}

.jeux,
.goodies {
  text-align: center;
}

.jeux h2,
.goodies h2 {
  text-transform: uppercase;
  color: var(--main-color);
  border-top: solid 2px var(--main-color);
  border-bottom: solid 2px var(--main-color);
  margin: 30px 0;
}

.jeux > a > img {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
  object-position: center;
  margin-bottom: 30px;
}

.dlc,
.image {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5%;
}

.dlc > a,
.image > a,
.dlc > a > img,
.image > a > img {
  max-width: 100%;
}

.corps {
  margin: 5% 10%;
  text-align: justify;
}

.corps h1 {
  text-transform: uppercase;
  color: var(--main-color);
}

.corps p {
  line-height: 1.5rem;
}

.corps table {
  width: 100%;
  margin-top: 2%;
  text-align: center;
}

.corps th {
  text-transform: uppercase;
}

.corps table,
.corps th,
.corps td {
  border: 1px solid var(--main-color);
  border-collapse: collapse;
  padding: 10px;
}

td a,
p a {
  color: var(--main-color);
}

td a:hover,
p a:hover {
  color: var(--important-color);
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 0.25%;
}

.mail {
  text-transform: lowercase;
  text-decoration: underline;
}

/* --------------------
   Corps principal
-------------------- */
.corps {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 60px;
  gap: 60px;
}

/* --------------------
   Article principal
-------------------- */
.article {
  font-family: "Berylium", sans-serif;
  background-color: #101524;
  padding: 30px 40px;
  width: 600px;
  border-radius: 8px;
}

.article h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #f9cf87;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* --------------------
   Footer
-------------------- */
.footer {
  background-color: #101524;
  text-align: center;
  padding: 15px 0;
}

.footer a {
  color: #a40239;
  text-decoration: none;
  font-size: 14px;
  font-family: "Pixelify sans";
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and ((max-width: 768px) or (orientation: portrait) or (max-height: 599px)) {
  .corps {
    margin: 0% 5%;
  }

  .jeux > a > img {
    max-height: 100%;
  }

  .dlc,
  .image {
    flex-direction: column;
    gap: 20px;
  }

  .dlc > a,
  .image > a,
  .dlc > a > img,
  .image > a > img {
    width: 100%;
  }
}
